/* Styles go here */
body{
  background-color:#42d4f4;
}
h1{
  text-align:center;
  background-color:#ffdb4d;
}
#myModal_login{
width:50%;
text-align:right;
}
#myModal_register{
width:50%;
text-align:right;
}
